[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
sqlalchemy = "*"
redis = "*"
pymongo = "*"
loguru = "*"
coverage = "*"
aiohttp = "*"

[requires]
python_version = "3.9"
